{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3"> <!--boostrapteki hazır bir responsive tasarım-->
        <h3>Kayıt Ol</h3>
        <hr>
        <form method="post">
            {% csrf_token %} <!--csrf ataklarından kurtulmak için bunu yazmamız lazım-->
            {{form|crispy}} <!--{{form.as_p}}: Bu satır, Django'nun form nesnesini HTML olarak dönüştürür. form.as_p formun tüm alanlarını paragraf etiketleri içinde göstermek için kullanılır. Örneğin, bir form alanı <p> etiketleri arasına alınır. -->
            <br>
            <button type="submit" class="btn btn-danger">Kayıt Ol</button>
        </form>
    </div>
  </div>





{% endblock body %}


